body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 36px;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.left-column, .right-column {
    width: 48%;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #fff;
}

.contact h2, .education h2, .experience h2, .skills h2 {
    font-size: 24px;
}

ul {
    list-style-type: disc;
}

section {
    margin-bottom: 20px;
}

img {
    width: 200px;
    height: 250px;
    border: 5px solid #ffffff;
  }